{% extends "base.html" %}
{% block content %}
<div class="contain">
    <form class="form-horizontal" name="LoginForm" method="post">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <center><b>
                <h3>Login</h3>
                </b>
        </center>
        <input type="text" id="username" name="username" placeholder="Username">

        <label class="control-label" for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" button id="Login">Login</button>
    </div>
</div>
</form>
</div>
{% endblock %}