{% extends "base.html" %}
{% block content %}
<div class="contain">
    <form class="form-horizontal" name="LoginForm" method="post">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <center><b>
                <h3><u>Login</u></h3>
            </b>
        </center>
        <center>
            <label><b>Username &nbsp;</b></label>
            <input type="text" id="username" name="username" placeholder="Username">
        </center>
        <center>
            <label><b>Password &ensp;</b></label>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <a color="#8800cc" href="{% url 'password_reset' %}">Forgot Password?</a>
        </center>
        <center><button type="submit" button id="Login">Login</button></center>
</div>
</form>
</div>
{% endblock %}