.contain
	{
  	width: 500px;
  	margin-top: 100px;
  	margin-right: 100px;
  	height: 90%;
  	font-family: "";
  	border: .1px solid black;
  	color: #8800cc;
  	opacity: .65;
  	border-radius: 130px 0px 130px 0px;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	float: right;
	}
	input[type=text]
	{
  	border: 2px solid #8800cc;
  	width: 55%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	margin-top: 70px;
  	box-sizing: border-box;
	}
	input[type=password]
	{
  	border: 2px solid #8800cc;
  	width: 55%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
	}
	#Login
	{
  	width: 300px;
  	height: 40px;
  	color: white;
  	padding: 2px;
  	border-radius: 20px;
  	margin-top: 40px;
  	border: none;
  	background-color: #8800cc;
	}

