.contain
	{
  	width: 400px;
  	margin-top: 100px;
  	margin-right: 100px;
  	height: 300px;
  	font-family: "";
  	border: 1px solid black;
  	color: #8800cc;
  	opacity: .65;
  	border-radius: 90px 90px 90px 90px;
  	background-color: white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	float: right;
	}
	input[type=text]
	{
  	border: 2px solid #8800cc;
  	width: 65%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	margin-top: 70px;
  	box-sizing: border-box;
	}
	input[type=password]
	{
  	border: 2px solid #8800cc;
  	width: 65%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
	}
	#Login, #signupBtn
	{
  	width: 200px;
  	height: 40px;
  	color: white;
  	padding: 2px;
  	border-radius: 20px;
  	margin-top: 30px;
  	border: none;
  	background-color: #8800cc;
	}
	#home
	{
		margin-top: 500px;
	}
	.Logg
	{
		width: 100px;
		height: 40px;
		border: 1px solid black;
		opacity: 1;
		margin-top: 450px;
		margin-right: 80px;
		padding-top: 7px;
	}

	.Signn
	{
		width: 100px;
		height: 40px;
		border: 1px solid black;
		opacity: 1;
		margin-left: 118px;
		padding-top: 7px;
	}

