<html>

<head>
    <style>
        .Certify {
            width: 600px;
            height: 400px;
            border: 2px solid black;
            border-radius: 80px 0px 80px 0px;
            margin-top: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-size: 22px;

        }
    </style>
</head>

<body>
    <center>
        <div class="Certify">
            <center>
                <h2> Certificate of Appreciation </h2>
            </center> <br>
            <p> <b>This is to certify that <div class="roll"> </div> has participated in <br>
                    <div class="yevent"> </div> conducted on <div class"edate"> </div> in Amritapuri Campus.
                </b>
            </p>
        </div>
    </center>
</body>

</html>